---
import AboutHeroImage from '../assets/blog-placeholder-about.jpg';
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Who's Tiny Dust"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('Last Update: June 23 2026')}
>
	<p>
		从前的主业是体验设计师，也做过设计经理和职涯/生涯教练。2025年是我的转折点，我开始更好奇如何打造一个属于自己的事业。
	</p>

	<p>
		2025年底我开始用中文公开写作，最开始在Substack，现在移居这个完全属于自己的小角落。
		这里记载的东西会更杂，也会用中英两种语言换着写，因为我希望它能成为一个完全不受限的、能真实记录自己的地方。
	</p>
	<p>
		基于这个新“家”刚建成没多久，在未来的日子里我会持续更新。欢迎随时回来查看更新。
	</p>

</Layout>
