---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Your site name">
		<main class="container">
			<h5>
				写作是为了更好地靠近自己和世界。
			</h5>
			<p>
				主业是设计师，也做职涯/生涯教练。在25年gap year的时候发现我还挺喜欢写作，于是建起这个网站来收集自己的故事、想法、笔记等等。
				最近在学习人体解剖学，因为希望可以更好地筛选和选择关于健康和健身信息。
			</p>
			<p>Designer, coach. Started writing for myself again in my gap year in 2025, and this is what this site is for --
			a collection of my stories, thoughts, and notes. Studying human anatomy right now, because I'd like to better discern and 
			use health information.</p>
		</main>
</BaseLayout>







